﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="MessageList.ascx.cs" Inherits="Web.Customer.MessageList" %>
 <div class="userMessageBox">
                <table cellpadding="0" cellspacing="0" border="0" style="/* background-color: #62B28C;
                    */ width: 150px; margin-left: 30px; margin-top: 40px;">
                    <tr height="32px">
                        <td class="messageImg">
                            <div id="homeI">
                            </div>
                        </td>
                        <td class="messageFont"><a href="home.aspx">首 页</a></td>
                    </tr>
                    <tr height="32px">
                        <td class="messageImg">
                            <div id="atI">
                            </div>
                        </td>
                        <td class="messageFont"><a href="CreateTicket.aspx">投 票</a></td>
                    </tr>
                    <tr height="32px">
                        <td class="messageImg">
                            <div id="ComI">
                            </div>
                        </td>
                        <td class="messageFont"><a href="MyComment.aspx">评 论</a></td>
                    </tr>
                </table>
            </div>