﻿.AdminTitle {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    padding: 20px;
}

.block {
    height: 50px;
    width: 400px;
    padding: 50px;
}

.line {
    font-size: 14px;
    color: #666;
    font-weight: bold;
    margin-bottom: 10px;
}

.ManagerTable {
    width: 90%;
    margin: 10px;
    margin: 0 auto;
    border: solid 1px #dedede;
}

.TableTitle {
    background-color: #dedede;
    text-align: center;
    height: 18px;
    line-height: 18px;
    font-size: 14px;
    font-weight: bold;
}

.TableLine {
    text-align: center;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
}
