﻿body {
    background-color: #8DD4B1;
    background-image: url('../Images/body_bg.jpg');
    background-position: center 0;
    background-repeat: no-repeat;
}

.BackWall {
    width: 860px;
    height: 3000px;
    margin: 0 auto;
    margin-top: 36px;
}

.left {
    float: left;
    width: 150px;
    background-color: #9EE0C0;
    margin-bottom: 50px;
    height: 100%;
}

#MainContent {
}

.center {
    float: left;
    width: 560px;
    background-color: White;
    margin-bottom: 50px;
    height: 100%;
}

.right {
    float: left;
    width: 150px;
    margin-bottom: 50px;
}

.faceKuang {
    width: 150px;
    height: 150px;
}

.facePic {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 6px;
}

.outNavLi {
    float: left;
    width: 30px;
    height: 60px;
    text-align: center;
}

.count {
    width: 90px;
    margin: 0 auto;
}

    .count a {
        color: #0094ff;
    }

.inNav li {
    line-height: 26px;
    height: 26px;
    font-weight: bold;
}

.input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 4px 0 #DCDCDC inset;
    margin: 7px 0 3px;
    padding: 5px;
    position: relative;
}

    .input textarea {
        border: 0 none;
        font-family: Tahoma, "SimSun";
        font-size: 14px;
        height: 55px;
        line-height: 18px;
        overflow-x: hidden;
        overflow-y: auto;
        width: 490px;
    }

.pubbtn {
    height: 50px;
    width: 100%;
    text-align: right;
}

#pubNew {
    width: 500px;
    margin: 0 auto;
}


/*Title Bar*/

.titleBarUl {
    width: 1000px;
    margin: 0 auto;
    font-weight: bold;
    color: White;
}

.titleBarLiItem {
    float: left;
    width: 100px;
    height: 34px;
    text-align: center;
    line-height: 34px;
}

    .titleBarLiItem a {
        color: White;
    }

#titleBar {
    display: block;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998;
    margin: 0 auto;
    margin-bottom: 35px;
    background-color: #5F9E7F;
    border-bottom: solid 1px #dedede;
}

#title_logo {
    background-image: url('../Images/logo.png');
    width: 190px;
}

#title_search {
    width: 250px;
}

.W_no_outline {
    border: 0 none;
    color: #939393;
    float: left;
    height: 22px;
    line-height: 24px;
    padding: 0 5px 0 10px;
    width: 156px;
    outline-style: none;
}

.btnSearch {
    background-image: url('../Images/searchbtn.png');
    border: none;
    width: 26px;
    height: 23px;
    margin-top: 6px;
}
/*items*/

.contentItemKuang {
    width: 500px;
    border-top: dotted 1px #dedede;
    display: inline-table;
    height: auto;
    margin: 0 auto;
    margin-left: 30px;
}

.leftFace {
    width: 50px;
    height: 50px;
    float: left;
    margin: 14px;
}

.RightFont {
    width: 400px;
    float: left;
    margin: 10px;
    font-size: 14px;
    line-height: 22px;
    color: #444444;
}

.content_footer {
    padding: 3px 0 0;
    font-size: 12px;
    color: #999999;
    word-wrap: break-word;
    line-height: 22px;
}

.itemAction {
    display: inline;
    float: right;
    line-height: 22px;
    padding-right: 10px;
}

.userMessageBox {
    width: 150px;
    height: 60px;
}

    .userMessageBox a {
        font-size: 13px;
        font-weight: bold;
        color: #1A5639;
    }

.messageFont {
    width: 120px;
    color: #1A5639;
    font-size: 14px;
    text-decoration: none;
    height: 16px;
    line-height: 16px;
    float: left;
    padding-left: 10px;
}

#homeI {
    height: 16px;
    width: 16px;
    background-image: url('../Images/home.png');
    float: left;
}

#atI {
    height: 16px;
    width: 16px;
    background-image: url('../Images/at.png');
    float: left;
}

#ComI {
    height: 16px;
    width: 16px;
    background-image: url('../Images/chat.png');
    float: left;
}

.mline {
    width: 150px;
    height: 20px;
}

.topInfo {
    width: 500px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
}

.Commit {
    width: 360px;
    background-color: #F3F3F3;
    float: right;
    margin-right: 20px; /*  padding: 20px;*/
    margin-bottom: 10px;
}

.commitItems {
    font-size: 12px;
    line-height: 20px;
}

.commitLeft {
    width: 44px;
    height: 50px;
    float: left;
}

.CommitRight {
    float: left;
    width: 300px;
    color: #777;
    display: inline-table;
}

.CommitReply {
    text-align: right;
    margin-top: 10px;
    float: right;
    display: inline-table;
}

.ReplyText {
    margin-bottom: 20px;
}

.pubReply {
    height: 28px;
    padding: 4px 4px 0px;
    text-align: right;
}

.CommitedItems {
    display: inline-table;
    border-top: dotted 1px #dedede;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 0px;
    padding-right: 6px;
}

/*ME.aspx*/
.left2 {
    float: left;
    width: 250px;
    background-color: #9EE0C0;
    margin-bottom: 50px;
    height: 100%;
}

.center2 {
    float: left;
    width: 560px;
    background-color: White;
    margin-bottom: 50px;
}

.right2 {
    float: left;
    width: 250px;
    margin-bottom: 50px;
}

.faceKuang2 {
    width: 250px;
    height: 150px;
}

.facePic2 {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 6px;
}

.topNick {
    width: 500px;
    height: 30px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.weiboType {
    width: 500px;
    height: 30px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 16px;
}

/*searchBar.aspx*/

.searchBar {
    width: 500px;
    height: 50px;
    margin: 20px;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
}

.SearchContent {
    width: 700px;
    margin: 0 auto;
}

.searchItem {
    width: 600px;
    height: 50px;
    margin: 0 auto;
    border-top: dotted 1px #dedede;
    padding: 10px;
}

#MessageBox {
    border: solid 2px #CCCCCC;
    background-color: #FBFCFB;
    line-height: 17px;
    padding: 6px 1px;
    position: fixed;
    right: 94px;
    top: 33px;
    width: 160px;
    z-index: 9999;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
}

.vip {
    color: #d73d03;
    font-weight: bold;
    background-image: url("../Images/vip.png");
    background-repeat: no-repeat;
    padding-left: 18px;
    line-height: 18px;
    display: inline-block;
}

    .vip a {
        color: #d73d03;
        font-weight: bold;
    }

.vipMessage {
    color: #421ff8;
    font-weight: bold;
}

.SendMessage {
    width: 500px;
    height: 120px;
    /*border: solid 1px #dedede;*/
    margin: auto;
    display: none;
}

.MyMessage {
    width: 500px;
    height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    padding-top: 16px;
    border: solid 1px #dedede;
    display: none;
}

.msg_nick {
    font-weight: bold;
    line-height: 32px;
    height: 32px;
}

.msg_content {
    padding-left: 30px;
}

.msg_re {
    text-align: right;
    line-height: 22px;
    height: 22px;
}

.showSpan {
    display: inline;
}

.hideSpan {
    display: none;
}

/*好友管理*/

.ManageBack {
    width: 70%;
    height: 800px;
    background-color: White;
    margin: 0 auto;
    margin-top: 30px;
}

.fTitle {
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
}


.commentlistItem {
    width: 600px;
    margin: 0 auto;
    border-top: dotted 1px #dedede;
    padding: 10px;
    display: table;
    height: 80px;
}

.reComment {
    float: left;
    width: 400px;
    height: 80px;
    display: none;
    margin-top: 20px;
    margin-left: 100px;
    background-color: #eeebeb;
}

.btnPub {
    background-image: url("../Images/pub.PNG");
    background-repeat: no-repeat;
    border: none;
}

.btnComment {
    background-image: url("../Images/pinglun.PNG");
    background-repeat: no-repeat;
    border: none;
    width: 57px;
    height: 24px;
}

.btn {
    background-color: #81D300;
    border: solid 1px #dedede;
    color: White;
}

.rDiv {
    width: 200px;
    height: 200px;
    border: solid 1px #dedede;
    margin-top: 100px;
    margin-left: 20px;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.90);
}

.pitem {
    text-align: center;
    margin: 10px;
    color: #81D300;
    
}
